@font-face {
    font-family: 'Poppins';
    src: url('subset-Poppins-Regular.woff2') format('woff2'),
        url('subset-Poppins-Regular.woff') format('woff'),
        url('subset-Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('subset-Overpass-Bold.woff2') format('woff2'),
        url('subset-Overpass-Bold.woff') format('woff'),
        url('subset-Overpass-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('subset-Poppins-Medium.woff2') format('woff2'),
        url('subset-Poppins-Medium.woff') format('woff'),
        url('subset-Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('subset-Overpass-Regular.woff2') format('woff2'),
        url('subset-Overpass-Regular.woff') format('woff'),
        url('subset-Overpass-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('subset-Overpass-ExtraBold.woff2') format('woff2'),
        url('subset-Overpass-ExtraBold.woff') format('woff'),
        url('subset-Overpass-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('subset-Poppins-Bold.woff2') format('woff2'),
        url('subset-Poppins-Bold.woff') format('woff'),
        url('subset-Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Regular.woff2') format('woff2'),
        url('subset-Roboto-Regular.woff') format('woff'),
        url('subset-Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

