/*fonts*/


@import 'fonts.css';


/*Specification*/

html
{
    overflow-x: hidden;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd
{
    margin: 0;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce)
{
    *
    {
        transition-duration: .01ms !important;
        -webkit-animation-duration: .01ms !important;
                animation-duration: .01ms !important;
        -webkit-animation-iteration-count: 1 !important;
                animation-iteration-count: 1 !important;

        scroll-behavior: auto !important;
    }
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select
{
    font: inherit;
}

*:focus
{
    outline: none !important;
    box-shadow: none !important;
}

body
{
    font-family: 'Overpass', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
    min-height: 100vh;
    transition: all .5 ease;
    letter-spacing: .02em;
    color: #090808;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background-color: #fcf8fe;
}


.container
{
    width: 1170px;
    margin: 0 auto;
    padding: 0;
}

div,
p,
form,
input,
a,
span,
button
{
    box-sizing: border-box;
}

ul,
li
{
    display: block;

    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 800;
    line-height: 1.2em;

    text-align: center;

    color: #111;
}

h1
{
    font-size: 90px;
}

h2
{
    font-size: 60px;
}

h3
{
    font-size: 30px;
}

h4
{
    font-family: 'Overpass', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 800;

    color: #c04ae2;
}


a,
a:hover,
a:active
{
    cursor: pointer;
    text-decoration: none;

    color: inherit;
}

img
{
    width: 100%;
}

.btn
{
    font-size: 18px;
    font-weight: 800;

    width: 205px;
    height: 60px;

    cursor: pointer;
    transition: all .3s ease;
    text-align: center;

    color: #fff;
    border: 2px solid #c04ae2;
    border-radius: 7px;
    background: #c04ae2;
}

.btn:hover
{
    color: #c04ae2;
    border-color: #fff;
    background: transparent;
}
.d-flex
{
    display: flex;
}

.align-center
{
    align-items: center;
}

.space-between
{
    justify-content: space-between;
}

.space-around
{
    justify-content: space-around;
}

.text-center
{
    text-align: center;
}


/*Header*/

header
{
    max-width: 1884px;
    margin: 0 auto;
    margin-bottom: 185px;

    background-color: rgb(235, 234, 250);
    background-image: url(../img/header-blurElement.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.head
{
    padding-top: 50px;
}

.menu
{
    align-items: center;
}

nav
{
    width: 500px;
}

.nav__item
{
    text-align: center;
}

.nav__link
{
    width: inherit;
    height: inherit;

    cursor: pointer;
}

.quote-btn
{
    font-size: 18px;
    font-weight: 800;

    top: 44px;

    width: 180px;
    height: 45px;
    margin: 0 30px;

    cursor: pointer;

    border-width: 2px;
    border-style: solid;
    border-color: rgb(192, 74, 226);
    border-radius: 7px;
    background-color: transparent;
}

.social
{
    font-size: 21px;
    line-height: 1.143;

    width: 130px;
}

.fa-facebook-f
{
    color: #3b5998;
}

.fa-twitter
{
    color: #1da1f2;
}

.fa-youtube
{
    color: #ff1e00;
}

.fa-instagram
{
    color: #dd4b39;
}


/*Offer*/

.offer
{
    display: flex;

    box-sizing: border-box;
    min-width: 1460px;
    margin-top: 145px;
}

.offer__content
{
    z-index: 1;

    width: 50%;
}

.offer__title
{
    text-align: left;
}

.offer__text
{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;

    margin-top: 60px;

    text-align: left;

    color: #5e5858;
}

.offer__img
{
    min-width: 860px;
    min-height: 617px;
}

.offer__btn
{
    margin-top: 65px;
}


/*Intro*/


.intro
{
    background-image: url(../img/intro-blurElement.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.intro__title
{
    text-transform: uppercase;
}

.intro__text
{
    width: 810px;
    margin: 30px auto;
}

.advantages
{
    margin-top: 115px;
}


.advantage
{
    width: 360px;
    padding: 40px 50px;

    text-align: center;

    border: 6px solid #888;
    border-radius: 18px;
}

.advantage1_color{
    border-color: #fcd7df;
}

.advantage2_color{
    border-color: #c9f3e2;
}

.advantage3_color{
    border-color: #f2d5ba;
}

.advantage-img{
    width: 84px;
    height: 84px;
}

.advantage__title
{
    margin-top: 50px;
}

.advantage__text
{
    font-family: 'Roboto', 'Arial', sans-serif;

    margin-top: 40px;

    color: #5e5858;
}


/*About*/


.about
{
    margin-top: 220px;
}

.about__content
{
    width: 50%;
}

.about__title
{
    text-align: left;
}

.about__text1
{
    font-size: 24px;

    margin: 30px 0;

    text-align: left;

    color: #5e5858;
}

.about__text2
{
    font-size: 20px;

    text-align: left;

    color: #5e5858;
}

.know-btn
{
    font-size: 18px;

    margin-top: 50px;

    text-transform: uppercase;
}

.about-img
{
    position: relative;

    width: 740px;
    margin-left: 150px;
}

.about1
{
    position: absolute;
    top: 0;
    left: 0	;

    width: 400px;
    height: 408px;
}

.about2
{
    position: absolute;
    top: 150px;
    left: 330px;

    width: 400px;
    height: 408px;
}


/*Service*/


.service{
	margin-top: 200px;
	min-width: 960px;
}

.service__title{
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 4px;
}

.service__subtitle{
	margin: 0 0 0 auto;
	text-align: right;
	width: 735px;
	margin-top: 40px;
}

.grid__body{
	display: -ms-grid;
	display: grid;


	-ms-grid-columns: (1fr)[3];


	grid-template-columns: repeat(3, 1fr);
	-ms-grid-rows: 1fr 1fr 1fr 1fr ;
	grid-template-rows: auto auto auto auto;
	grid-column-gap: 30px;
  	grid-row-gap: 25px;
}

.grid__item{
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 24px 72px 0px rgba(7, 28, 75, 0.07);
  width: 370px;
  height: 476px;

}

.placeholder{
	width: 370px;
	height: 80px;

}

.item-img{ 
	display: block;
	margin: 65px auto 40px auto;
}

.item__icon1-2-6{
	width: 72px;
}

.item__icon4{
	width: 80px;
}

.item__icon3-5{
	width: 84px;
}

.item__title{

}

.item__text{
	display: block;
	width: 295px;
	margin: 35px auto;
	text-align: center;
	font-family: "Roboto", "Arial", sans-serif;
	color:  #5e5858;
}

.fa-long-arrow-alt-right{
	display: block;
	margin: 0 auto;
	font-size: 45px;
	margin-left: calc(50% - 20px);
	color: #c04ae2;
}


/*Portfolio


.portfolio
{
    padding: 185px 0;

    background-image: url(../img/service-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio__title
{
    margin-bottom: 40px;
}

.portfolio__text
{
    width: 800px;
    margin: 0 auto 125px auto;
}

.project
{
    position: relative;
}

.border{
    position: absolute;

    width: 424px;
    height: 424px;

    border: 7px solid #000;
    border-radius: 13px;
}

.bColor1{
    border-color: #fcd7df;

    order: 1;
}

.bColor2{
    z-index: 1;
    right: 0;

    border-color: #c9f3e2;

    order: 3;
}

.bColor3{
    z-index: 1;

    border-color: #f2d5ba;

    order: 1;
}

.project__img
{
    position: relative;

    width: 446px;
    height: 446px;
    margin: 25px;

    order: 2;
}

.project__content
{
    width: 50%;
    margin-left: 10%;
    padding-top: 5%;
}

.pOrder1
{
    order: 2;
}

.pOrder2
{
    order: 1;
}

.pOrder3
{
    order: 2;
}

.project__title
{
    text-align: left;
}

.project_color1
{
    color: #fe6686;
}

.project_color2
{
    color: #54d6a1;
}

.project_color3
{
    color: #fe9a3f;
}
.project__subtitle
{
    font-size: 42px;
    font-weight: 800;

    margin: 25px 0 0 0;

    text-align: left;
}

.project__text
{
    margin-top: 40px;

    text-align: left;
}

.project-btn{
    margin-top: 45px;

    color: #000;
    background-color: transparent;
}

.portfolio-btn{
    display: block;

    width: 125px;
    height: 40px;
    margin: 140px auto 0 auto;
    padding: 0;

    color: #000;
    border-width: 0 0 2px 0;
    border-radius: 0;
    background: transparent;
}


/*Team


.team{
	padding-top: 200px;
    background-image: url(../img/team-blurElement.png);
    background-repeat: no-repeat;
    background-position: center;
}

.team__subtitle{
	width: 800px;
	margin: 60px auto;
}

.team__content{
	margin-top: 140px;
    min-height: 500px;
}

.team__item:nth-child(even){
	padding-top: 80px;
}

.team__item{
    height: 420px;
}

.icon__img{
    width: 270px;
    height: 312px;
}

.name{
    text-align: left;

    color: #111;
}

.post{
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;

    text-align: left;

    color: #adb0ba;
}


/*Testimonal*/


.testimonial{
	min-height: 902px;
	background-image: url(../img/testimonial-bg.png);
	background-repeat: no-repeat;
	background-position: center;
}

.fa-quote-left{
	position: absolute;
}

.testimonial__content{
	max-width: 565px;
	-ms-grid-row-align: center;
	    align-self: center;
	height: 100%;
}

.testimonial__title{
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.testimonial__subtitle{
	text-align: left;
	margin-top: 30px;
}

.testimonial__text{
	text-align: left;
	margin-top: 60px;
	font-size: 24px;
	font-weight: 400;
	font-family: "Roboto", "Arial", sans-serif;
	color: #5e5858;
}

.bar{
	content: "";
	background-color: #332e98;
	width: 18px;
	height: 2px;
	margin: 12px 22px 0 0;

}

.author{
	margin-top: 70px;
}

.testimonial__author{
	font-weight: 800;
	font-size: 24px;
}

.author__post{
	font-weight: 400;
	font-size: 18px;
	font-family: 'Roboto', 'Arial', sans-serif;
	margin-left: 20px;
}

.nav{

}

.line{

}

.dot{

}

.dot{

}

.testimonial-img{
	position: relative;
}

.testimonial__img{
	width: 470px;
	height: 604px;
}

.testimonial__border{
	width: 266px;
	height: 266px;
	position: absolute;
	z-index: -1;
	left: -85px;
	top: 425px;

}

}